<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Video Test</title>

    <style>
      #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
      }

      #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
      }

    </style>

  </head>

  <body>
    <div id="container">
      <video autoplay="true" id="videoElement">

      </video>
    </div>
    <script>
      let video = document.querySelector("#videoElement");

      function start() {
        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({
              video: true
            })
            .then(function(stream) {
              video.srcObject = stream;
            })
            .catch(function(err0r) {
              console.log("Something went wrong!");
            });
        }
      }


      function stop() {
        var stream = video.srcObject;
        var tracks = stream.getTracks();

        for (var i = 0; i < tracks.length; i++) {
          var track = tracks[i];
          track.stop();
        }

        video.srcObject = null;
      }

    </script>
    <button type='button' id='stop' onclick='stop()'>Stop Video </button>
    <button type='button' id='stop' onclick='start()'>Start Video </button>
  </body>

</html>
